{% extends "base.html" %}
{% block content %}

<!--TODO move user profile details to a separate template-->
<div id="owner_card" class="card w-25 p-2">
    <h5>
        <span class="text-primary">{{ owner.full_name }}</span> <span class="text-secondary">#{{ owner.id }}</span>
    </h5>
    <div>{{ owner.address }}, {{ owner.county_state_zip }}</div>
    <div>{{ owner.phone_no }}</div>
    <div>Total units: <span class="fs-5">{{ total_units }}</span></div>
</div>
<p></p>

{% for u in units %}
<div class="card w-25 p-2 mb-2">
    <h5><span class="text-primary">{{u.unit_id}} (#{{u.id}})</span></h5>
    <table class="table striped">
        <tr>
            <td>current_owner</td>
            <td>{{ u.current_owner}}</td>
        </tr>
        <tr>
            <td>interest_type</td>
            <td>{{ u.interest_type}}</td>
        </tr>
        <tr>
            <td>comments</td>
            <td>{{ u.comments}}</td>
        </tr>
        <tr>
            <td>vesting_docs</td>
            <td>{{ u.vesting_docs}}</td>
        </tr>
        <tr>
            <td>interest_decimal</td>
            <td>{{ u.interest_decimal}}</td>
        </tr>
        <tr>
            <td>contacted</td>
            <td>{{ u.contacted}}</td>
        </tr>
    </table>
</div>
{% endfor %}

{% endblock %}